//
// Cornflex variables
//

// number of cols in row
$cornflex-cols: 12 !default;

// space between cols
$cornflex-gutter: 20px !default;
$cornflex-gutter-half: $cornflex-gutter / 2;

// screen breakpoints (prefixed with '-')
$cornflex-breakpoints: (
  -sm: 768px,
  -md: 992px,
  -lg: 1180px,
  //-xl: 1600px
) !default;